fastapi
uvicorn[standard]
python-multipart

motor
beanie

pydantic>=2.0.0
pydantic-settings
python-dotenv
email-validator

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

openai
langchain==0.3.7
langchain-groq

faiss-cpu
httpx

# Prevent CUDA installs
torch==9999999.0

